<style>
    .modal-content{
        width:696px;
    }

    .modal-footer {
        padding: 5px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    .modal-header {
        padding: 5px;
        border-bottom: 1px solid #e5e5e5;
    }
    fieldset {
        min-width: 0;
        padding: 10px;
        margin: 0;
        border: 0;
    }
    .control-label {
        position: relative;
        min-height: 1px;
        padding-right: 8px;
        padding-left: 11px;
    }

    .form-control {
        display: block;
        width: 264px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }


</style>

<!DOCTYPE html>
<html lang="en">

<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div>Task Master</div>
            </h2>
        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-body" style="height: 65px;">


                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary hi_btn"  ng-click="addTask()">Add Task</button>

                                    </div>

                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="fixed-table-container">
                    <div class="table_wrapfixed-table-container-inner">
                        <div class="header-background"></div>
                        <table data-toggle="table" data-cache="false" data-height="299" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                            <thead>
                            <tr>
                                <th data-field="RoomNo">
                                    <div class="th-inner" align="center">Task ID</div>
                                </th>
                                <th data-field="RoomNo">
                                    <div class="th-inner" align="center">Task Name</div>
                                </th>
                                <th data-field="floor">
                                    <div class="th-inner" align="center">Task Category</div>
                                </th>
                                <th data-field="Room">
                                    <div class="th-inner" align="center">Task Nature</div>
                                </th>
                                <th data-field="Room">
                                    <div class="th-inner" align="center">Task Created By</div>
                                </th>
                                <th data-field="Room">
                                    <div class="th-inner" align="center">Task Approver</div>
                                </th>
                                <th data-field="Room">
                                    <div class="th-inner" align="center">Status</div>
                                </th>
                                <th data-field="Room">
                                    <div class="th-inner" align="center">Edit</div>
                                </th>
                                <th data-field="Room">
                                    <div class="th-inner" align="center">Delete</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="parentTable">
                            <input type="hidden" ng-model="id" value="{{taskList.taskId}}"/>
                            <tr ng-repeat="task in taskList">
                                <td>{{task.taskId}}</td>
                                <td>{{task.taskName}}</td>
                                <td>{{task.taskCategory}}</td>
                                <td>{{task.taskNature}}</td>
                                <td>{{task.taskCreatedBy}}</td>
                                <td>{{task.taskApprover}}</td>
                                <td>{{task.status}}</td>



                                <td><button type="button" class="btn btn-primary hi_btn"  ng-click="EditTask(task)">Edit</button></td>
                                <td><button type="button" class="btn btn-primary hi_btn"  ng-click="DeleteTask(task)">Delete</button></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


            </div >
                <div class="form-group">
                    <div class="col-sm-12 pagination_">
                        <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': first}" ng-disabled="first"
                                ng-click="getPaginatedTaskList('firstPage')"  ng-model="first">First
                        </button>
                        <button type="button" class="btn btn-default hi_btn"  ng-class="{'diabled-class': prev}" ng-disabled="prev"
                                ng-click="getPaginatedTaskList('prevPage')"   ng-model="prev">Prev
                        </button>
                        <button type="button" class="btn btn-default hi_btn"  name="next" ng-disabled="next"
                                ng-click="getPaginatedTaskList('nextPage')"  value="next"  ng-class="{'diabled-class': next}" ng-model="next">Next
                        </button>
                        <button type="button" class="btn btn-default hi_btn"
                                ng-click="getPaginatedTaskList('lastPage')"   ng-class="{'diabled-class': last}" ng-disabled="last"
                                ng-model="last">Last
                        </button>
                    </div>
                </div>
            </div>



            <div class="modal fade Student" tabindex="-1" id="add_new_task" role="dialog" data-backdrop="static"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content checkout" width="696px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 id = "item-title" class="modal-title">Add Task</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <form class="form-horizontal" name="student">
                                        <fieldset>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="sub_step12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task name<span style="color:red;">*</span></label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="taskName" name="taskName"
                                                                       type="text" placeholder="Task Name"
                                                                       ng-model="task_Name"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Frequency</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="frequency" name="frequency"
                                                                       type="text" placeholder="Task Frequency"
                                                                       ng-model="task_Frequency"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Business Segment</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="TaskBusinessSegment" name="Task Business Segment"
                                                                       type="text" placeholder="Task Business Segment"
                                                                       ng-model="task_Business_Segment"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Category<span style="color:red;">*</span></label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="TaskCategory" name="price"
                                                                       type="text" placeholder="Task Category"
                                                                       ng-model="task_Category"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Provenance Flag</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="Provenance" name="Provenance"
                                                                       type="text" placeholder="Task Provenance Flag"
                                                                       ng-model="task_Provenance_Flag"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Nature</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="TaskNature" name="TaskNature"
                                                                       type="text" placeholder="Task Nature"
                                                                       ng-model="task_Nature"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Weightage Score</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="weightage" name="weightage"  maxlength="5"
                                                                       type="text" placeholder="Task Weightage Score"
                                                                       ng-model="task_Weightage_Score" num-with-out-space
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Created By</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="createdBy" name="createdBy"
                                                                       type="text" placeholder="Task Created By"
                                                                       ng-model="task_Created_By"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-6 col-sm-6 control-label" for="">Task Creation Date</label>
                                                            <div class="col-md-6"  style="position:relative;">
                                                                <p class="input-group">
                                                                    <strong>
                                                                        <input type="text" class="form-control" readonly uib-datepicker-popup="{{format}}" ng-model="task_Creation_Timestamp" is-open="popup8.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                                    </strong>
                                                                    <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default" ng-click="openDate()">
                                                                             <i class="glyphicon glyphicon-calendar"></i></button>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>




                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Task Approver</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input id="Approver" name="Approver"  maxlength="5"
                                                                       type="text" placeholder="Task Approver"
                                                                       ng-model="task_Approver"
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 col-sm-6 control-label" for="">Status</label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <select name="Status" id="Status" ng-model="status" class="form-control input-md" required>
                                                                    <option value="Active">Active</option>
                                                                    <option value="InActive">InActive</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                </div>
                            </div>

                            </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit" ng-click="savetask()">Save</button>
                    <button type="button" class="btn btn-primary" ng-click="removeTask()" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
</html>